<div class="container">
  <p id="notice"><%= notice %></p>
  <h1><%= @book.title %></h1>
  <img src="<%= @book.photo_url %>">
  <p>
    <strong>Isbn:</strong>
    <%= @book.isbn %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @book.author %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @book.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @book.location %>
  </p>

  <p>
    <strong>Checkout:</strong>
    <%= @book.checkout %>
  </p>

  <p>
    <strong>Nerd:</strong>
    <%= @book.nerd %>
  </p>

  <%= link_to 'Edit', edit_book_path(@book), :class => "btn btn-primary" %>
  <%= link_to 'Back', books_path, :class => "btn btn-primary" %>
</div>